html,body{
    margin:0px;
    height: 100%;
    width: 100%;
    font-family: Comic Sans MS, "Comic Sans MS", Arial, sans-serif;
    /* background-color: #faf5fa; */
}
body{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    /* background-image: url(../imgs/新科娘.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

a{
    text-decoration: none;
    color:inherit;
}


@font-face
{
    font-family: loli;
    src: url('../font/萝莉体.ttf');
}

/* animate */
.fadeInFast-enter-active {
    animation: fadeInFast 0.5s;
    animation-timing-function: linear;
}
.fadeInFast-leave-active {
    animation: fadeInFast 0.5s reverse;
    animation-timing-function: linear;
}
@keyframes fadeInFast{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.fadeOutFast-enter-active {
    animation: fadeOutFast .5s;
}
.fadeOutFast-leave-active {
    animation: fadeOutFast .5s reverse;
}
@keyframes fadeOutFast{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* PC */
@media screen and (min-width: 700px){
    /* i-header */
    .bg{
        position: fixed;
        width: 100%;
        height: auto;
        filter: blur(5px);
        z-index: -1;
    }
    .header{
        width: 100%;
        height: 50px;
        /* background-color:rgba(255, 255, 255, 0.5); */
        position: fixed;
        z-index: 9999;
    }
    .logo{
        float: left;
        width: 200px;
        height: 100%;
        /* background-color: beige;  */
        display: table;
        text-align: center;
        color: #fff;
        transition: all 1s;
    }
    .logo-scroll{
        color: #ffafc9;
        text-shadow: 0px 0px 3px #929fec;
    }
    .logo span{
        display: table-cell;
        vertical-align: middle;
        font-size: 25px;
        user-select: none;
    }
    .nav-btns{
        float: left;
        margin-left:100px; 
        width: 200px;
        margin-top:5px; 
        height: 40px;
        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
        background-color:rgba(255, 255, 255, 0.4);
    }
    .nav-btn{
        float: left;
        width: 50px;
        height: 100%;
        /* background-color: #fff; */
        color: #fff;
        display: table;
        text-align: center;
        cursor: pointer;
        /* border-radius: 7px; */
    }
    .nav-btn:hover span{
        color: #ffafc9;
    }
    .nav-btn span{
        display: table-cell;
        vertical-align: middle;
        font-size: 13.5px;
        transition: color 0.2s;
        user-select: none;
    }
    .nav-menu{
        display: none;
    }
    .nav-menu-content{
        display: none;
    }
    
    

    /* i-image */
    .image-view{
        width: 100%;
    }
    .image{
        position: relative;
        width: 100%;
        height: 500px;
        background-image: url(../imgs/38183202_p0_min.jpg);
        background-size: 100% auto;
        background-position-y: 50%;
        background-repeat: no-repeat;
    }
    .blogger{
        width: 100%;
        height: 100px;
        /* background-color: #ffafc9; */
    }
    .blogger-info{
        position: relative;
        margin-left: calc((100% - 200px) / 2);
        width: 200px;
        height: 100px;
        /* background-color: aliceblue; */
    }
    .blogger-head{
        position: absolute;
        width: 200px;
        height: 200px;
        top: -150px;
        left: 0px;
        /* background-color: beige; */
        border-radius:50%;
        overflow: hidden;

        /* box-shadow: 0px 0px 25px 3px #929fec; */
        /* animation: shine 1s linear; */
        /* animation-fill-mode: forwards; */

        pointer-events: none;
        user-select: none;
    }

    @keyframes shine {
        0%{
            box-shadow: none;
        }
        100%{
            box-shadow: 0px 0px 25px 3px #929fec;
        }
    }

    .blogger-head img{
        width: 100%;
        height: 100%;
    
    }
    .blogger-name{
        position: absolute;
        width: 200px;
        height: 50px;
        top: 50px;
        left: 0px;
        /* background-color:darkolivegreen; */
        display: table;
        text-align: center;
    }
    .blogger-name span{
        display: table-cell;
        vertical-align: middle;
        font-size: 30px;
    }

    .image-visited{
        position: absolute;
        width: 200px;
        height: 30px;
        left: 25px;
        top: 90%;
        /* background-color: #fff; */
        color:rgba(255, 255, 255, 0.8);
        font-size: 13px;
        user-select: none;
    }

    .hitokoto{
        position: absolute;
        top: 20%;
        left: 10%;
        width: 80%;
        height: 180px;
        text-align: center;
        /* background-color: rgba(255, 255, 255, 0.5); */
        overflow: hidden;
    }
    .hitokoto span{
        color: rgba(255, 255, 255, 0.8);
        font-size: 60px;
        text-shadow: 0px 0px 2px #fff;
        
    }
    .hitokoto-from{
        position: absolute;
        top: 60%;
        left: 60%;
        width: 40%;
        height: 100px;
        /* background-color: rgba(255, 255, 255, 0.5); */
    }
    .hitokoto-from span{
        color: rgba(255, 255, 255, 0.8);
        font-size: 50px;
        float: right;
        text-shadow: 0px 0px 2px #fff;
    }

    .image-saying{
        width: 100%;
        height: 100px;
        text-align: center;
        user-select: none;
    }
    .image-saying span{
        display: block;
        line-height: 100px;
        color: #ffafc9;
        font-size: 60px;
        font-family:loli;
        letter-spacing: 20px;
        text-indent: 20px;
        /* text-shadow: 0px 0px 10px #ffafc9; */
    }
    @media screen and (max-width: 855px){
        .image-saying span{
            font-size: 45px;
        }
    }

    /* views */
    .views{
        min-height: 1000px;      
        
    }
    /* 主页 */
    .posts-pannel{
        margin-left: calc((100% - 700px) / 2);
        width: 700px;
        min-height:1000px; 
        /* background-color: #fff; */
        
    }
    .post-card{
        margin-top: 50px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 0px 3px 0px #c4c3c3;
    }
    .post-card:last-child{
        margin-bottom: 200px;
    }
    .post-cover{
        width: 100%;
        height: 250px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }
    .post-cover img{
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition:transform 1s;
    }
    .post-cover:hover img{
        transform: scale(1.1);
    }
    .post-title{
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.4);
        /* overflow: hidden; */
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        color: #fff;
        
    }
    .post-title span{
        color: #fff;
        padding-left: 10px;
        line-height: 40px;
        font-size: 14px;
    }
    .post-content{
        position: relative;
        width: calc(100% - 40px);
        max-height: 300px;
        padding:20px;
        overflow: hidden;
    }
    .post-content::after{
        position: absolute;
        width: 100%;
        height: 30px;
        content: "";
        background:linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
        bottom: 0px;
        pointer-events: none;
    }
    .post-imgs{
        width: 100%;
        min-height: 150px;
    }
    .post-imgs::after{
        clear:both;
        content:'';
        display:block;
        width:0;
        height:0;
        visibility:hidden;
    }
    .post-img{
        float: left;
        margin-left:12.5px;
        margin-top: 5px;
        width: 216px;
        height: 121.5px;
        background-color: #ffafc9;
        position: relative;
        cursor: pointer;
    }
    .post-img img,.post-img-box img{
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition:transform 0.2s;
    }
    .post-img img:hover{
        transform: scale(1.05);
    }
    @media screen and (min-width:1000px){
        .post-img:hover .post-img-box{
            display: block; 
        }   
    }

    
    .post-img-box{
        position: absolute;
        background-color: #92b1ec;
        width: 630px;
        height: 420px;
        top: -440px;
        left:-252.5px;
        display: none;
        animation: fadeInFast 0.2s linear;
    } 

     .post-readmore{
        height: 40px;
   
        
        letter-spacing: 3px;
        text-indent: 3px;
        text-align: center;
    }
    .post-readmore span{
        position: relative;
        color: #929fec;
        line-height: 40px;
        font-size: 14px;
        user-select: none;
        cursor: pointer;
    }
    .post-readmore span:hover:after{
        width:calc(100% + 2px);
    }
    .post-readmore span::after{
        text-align: center;
        position: absolute;
        content: "";
        width:0px;
        height: 2px;
        top: 20px;
        left: -2px;
        background-color: #929fec;
        transition:width 1s;
    } 
     .post-footer{
        width: 100%;
        height: 40px;
    }
    .post-views{
        position: relative;
        float: right;
        color: #94949bd7;
        min-width: 70px;
        
    }
    .post-like{
        position: relative;
        float: right;
        margin-right:1px; 
        color: #94949bd7;
        min-width: 70px;
        transition:color 0.2s;
    }
    .post-like:hover{
        color: #ffafc9;
        cursor: pointer;
    } 
     .icon-liulan{
        font-size: 25px!important;
        vertical-align: middle;
    }
    .icon-zan{
        position: relative;
        top: -2px;
        font-size: 23px!important;
        vertical-align: middle;
    }
    .post-views-value,.post-like-value{
        position: relative;
        top: 1px;
        font-size: 14px;
    }

}

/* Mobile */
@media screen and (max-width: 700px){
    /* i-header */
    body{
        background-color: #faf5fa;
    }
    .bg{
        display: none;
    }
    .header{
        width: 100%;
        height: 50px;
        /* background-color:rgba(255, 255, 255, 0.5); */
        position: fixed;
        z-index: 9999;
    }
    .logo{
        float: left;
        width: 200px;
        height: 100%;
        /* background-color: beige; */
        display: table;
        text-align: center;
        color: #fff;
        transition: all 1s;
    }
    .logo-scroll{
        color: #ffafc9;
        text-shadow: 0px 0px 3px #929fec;
    }
    .logo span{
        display: table-cell;
        vertical-align: middle;
        font-size: 25px;
        user-select: none;
        font-family: loli;
    }
    .nav-btns{
        display: none;
    }
    .nav-menu{
        float: right;
        width: 40px;
        height: 40px;
        margin: 5px;
        color: #fff;
        /* background-color:#fff; */
        /* background-image: url(../imgs/menu.png); */
        /* background-size:100% 100%;  */
        cursor: pointer;
        transition: all 1s;
    }
    .icon-caidan::before{
        font-size: 40px;
        line-height: 1;
    }
    .open{
        height: 220px!important;
    }

    .menu-scroll{
        color: #ffafc9;
        text-shadow: 0px 0px 3px #929fec;
    }

    .nav-menu-content{
        position: absolute;
        right: 0px;
        top:50px;
        width: 60px;
        height: 220px;
        padding-right: 5px;
        /* background-color:rgba(0, 0, 0, 0.4); */
        /* border-radius:15px;  */
        /* display: none; */
        /* transition: height 0.5s; */
        overflow: hidden;
    }
    .nav-menu-item:first-child{
        margin-top: 20px;
    }
    .nav-menu-item:last-child{
        margin-bottom: 20px;
    }

    .nav-menu-item{
        margin-right: 5px;
        width: calc(100% - 7px);
        height: 30px;
        background-color:#ffafc9;
        margin-top: 20px;
        padding-left: 7px;
        border-radius:10px; 
        animation-duration:1s;
    }
    
    .nav-icon{
        float: left;
        margin-top: 6.5px;
        width: 17px;
        height: 17px;
    }
    .nav-icon img{
        width: 100%;
        height: 100%;
    }

    .nav-text{
        float: left;
        width: calc(100% - 17px);
        height: 100%;
        display: table;
        text-align: center;
    }
    .nav-text span{
        display: table-cell;
        vertical-align: middle;
        font-size: 12px;
        color: #fff;
    }



    /* i-image */
    .image-view{
        width: 100%;
    }
    .image{
        position: relative;
        width: 100%;
        height: 500px;
        background-image: url(../imgs/38183202_p0.jpg);
        background-size: auto 100%;
        background-position-x: 50%;
        background-repeat: no-repeat;
    }

    .blogger{
        width: 100%;
        height: 100px;
        /* background-color: #ffafc9; */
    }
    .blogger-info{
        position: relative;
        margin-left: calc((100% - 200px) / 2);
        width: 200px;
        height: 100px;
        /* background-color: aliceblue; */
    }
    .blogger-head{
        position: absolute;
        width: 200px;
        height: 200px;
        top: -150px;
        left: 0px;
        /* background-color: beige; */
        border-radius:50%;
        overflow: hidden;

        /* box-shadow: 0px 0px 25px 3px #929fec; */
        /* animation: shine 1s linear;
        animation-fill-mode: forwards; */
        
        pointer-events: none;
        user-select: none;
    }

    @keyframes shine {
        0%{
            box-shadow: none;
        }
        100%{
            box-shadow: 0px 0px 25px 3px #92b1ec;
        }
    }
    .blogger-head img{
        width: 100%;
        height: 100%;
       
    }
    .blogger-name{
        position: absolute;
        width: 200px;
        height: 50px;
        top: 50px;
        left: 0px;
        /* background-color:darkolivegreen; */
        display: table;
        text-align: center;
    }
    .blogger-name span{
        display: table-cell;
        vertical-align: middle;
        font-size: 30px;
    }
    
    .image-visited{
        position: absolute;
        width: 200px;
        height: 30px;
        left: 5px;
        top: 95%;
        /* background-color: #fff; */
        color: #fff;
        font-size: 11px;
        /* text-shadow: 0px 0px 2px #666666; */
        user-select: none;
    }

    .hitokoto{
        position: absolute;
        top: 20%;
        left: 10%;
        width: 80%;
        height: 250px;
        text-align: center;
        /* background-color: rgba(255, 255, 255, 0.5); */
        overflow: hidden;
    }
    .hitokoto span{
        color: rgba(255, 255, 255, 0.8);
        font-size: 25px;
        text-shadow: 0px 0px 2px #fff;
        
    }
    .hitokoto-from{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        height: 200px;
        /* background-color: rgba(255, 255, 255, 0.5); */
    }
    .hitokoto-from span{
        color: rgba(255, 255, 255, 0.8);
        font-size: 14px;
        float: right;
        text-shadow: 0px 0px 2px #fff;
    }
    .image-saying{
        width: 100%;
        height: 120px;
        text-align: center;
        user-select: none;
    }
    .image-saying span{
        display: block;
        line-height: 100px;
        color: #ffafc9;
        font-size: 25px;
        font-family:loli;
        letter-spacing: 5px;
        text-indent: 5px;
    }
    

    /* views */
    .views{
        min-height: 1000px;
        width: 100%;
    }
    /* 主页 */
    .posts-pannel{
        margin-left: 2.5%;
        width: 95%;
        min-height: 1000px;
        /* background-color: #ffafc9; */
        
    }
    .post-card{
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 0px 3px 0px #c4c3c3;
        margin-bottom:20px;
    }
    .post-card:last-child{
        margin-bottom: 200px;
    }
    .post-cover{
        width: 100%;
        height: 250px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }
    .post-cover img{
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition:transform 1s;
        
    }
    .post-title{
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.4);
        /* overflow: hidden; */
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        color: #fff;
        
    }
    .post-title span{
        color: #fff;
        padding-left: 10px;
        line-height: 40px;
        font-size: 14px;
    }
    .post-content{
        width: calc(100% - 40px);
        max-height: 298px;
        padding:20px;
        overflow: hidden;
        position: relative;
    }
    .post-content::after{
        position: absolute;
        width: 100%;
        height: 30px;
        content: "";
        background:linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
        bottom: 0px;
        left: 0px;
        pointer-events: none;
    }
    .post-imgs{ 
        width: 100%;
        min-height: 80px;
        /* background-color: #929fec; */
    }
    .post-imgs::after{
        clear:both;
        content:'';
        display:block;
        width:0;
        height:0;
        visibility:hidden;
    }
    .post-img{
        float: left;
        margin-left:5px;
        margin-top: 5px;
        width: calc((100% - 20px) / 3);
        height: 70px;
        background-color: #ffafc9;
        position: relative;
    }
    .post-img-one{
        width: calc(100% - 20px);
        height: 210px;
    }
    .post-img-two{
        width: calc((100% - 20px) / 2);
        height: 115px;
    }
    .post-img img{
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .post-img-box{
        display: none;
    }
    .post-readmore{
        height: 40px;
        /* background-color: #92b1ec; */
        
        letter-spacing: 3px;
        text-indent: 3px;
        text-align: center;
    }
    .post-readmore span{
        position: relative;
        color: #929fec;
        line-height: 40px;
        font-size: 14px;
        user-select: none;
        cursor: pointer;
    }
    .post-readmore span::after{
        text-align: center;
        position: absolute;
        content: "";
        width:calc(100% + 2px);
        height: 2px;
        top: 20px;
        left: -2px;
        background-color: #929fec;
        transition:width 1s;
    }
    .post-footer{
        margin-top: 20px;
        width: 100%;
        height: 40px;
    }
    .post-views{
        position: relative;
        float: right;
        color: #94949bd7;
        min-width: 70px;
        
    }
    .post-like{
        position: relative;
        float: right;
        margin-right:1px; 
        color: #94949bd7;
        min-width: 70px;
        transition:color 0.2s;
    }
    .icon-liulan{
        font-size: 25px!important;
        vertical-align: middle;
    }
    .icon-zan{
        position: relative;
        top: -2px;
        font-size: 23px!important;
        vertical-align: middle;
    }
    .post-views-value,.post-like-value{
        position: relative;
        top: 1px;
        font-size: 14px;
    }
}