<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <script src="static/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <title>LoliMakeusFun</title>
</head>
<body>
    <!-- <img src="static/imgs/新科娘.jpg" style="width: 100%;height: auto;"> -->
    <div class="wow rubberBand" style="width: 200px;height:100px;background-color: red" >
        姥爷渣渣惹
    </div>
</body>
</html>